<div>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/sub/page/">sub page</a></li>
            <li><a href="/django/page/">old django page</a></li>
        </ul>
    </header>
    <slot></slot>
</div>

<style>
    div {
        border: 1px solid black;
        padding: 10px;
    }
    header {
        background-color: #eee;
        padding: 10px;
    }
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0 10px;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>