div.svelte-178k0dt{border:1px solid black;padding:10px}header.svelte-178k0dt{background-color:#eee;padding:10px}ul.svelte-178k0dt{display:flex;list-style:none;margin:0;padding:0}li.svelte-178k0dt{margin:0 10px}a.svelte-178k0dt{color:#000;text-decoration:none}
